* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  background-color: whitesmoke;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}